

body {
  background-color: #13161d;
}


.menuNav {
  position: fixed;
  background: #13161d;
  height: 100vh;
  width: 0;
  overflow: hidden;
  max-width: 100vw;
  z-index: 9;
  top: 0;
  left: 0;
  bottom: 0;
}

.menuNav.showMenu {
  width: 100%;
}