.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;    
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
}

.parallax {
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.heading {
  transform: translateZ(-50px) scale(5);
}

.cloud {
    transform: translateZ(-10px) scale(2);
    width: 150%;
  }
  
  .midground {
    transform: translateZ(-5px) scale(1.2);
    left: 5em;
    top: 70%;
    
  }

  .foreground {
    transform: translateZ(0px) scale(1.1);
    top: 100%;

  }
  
  .midground,
  .foreground{
  position: absolute;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.foreground-sm{
  position: absolute;
  bottom:0;
  display: none;

}

.midground-sm{
  position: absolute;
  bottom:4em;
  display: none;
}

@media screen and (max-width: 639px) {
  .wrapper {
    height: 100vh;
    perspective: 10px;
  }

  
  .midground {
    transform: translateZ(-5px) scale(1.5);
    left: 2em;
    top: 90%;
  }

  .foreground {
    transform: translateZ(0px) scale(1);
    top: 90%;
    justify-self: end;
  }
  .cloud {
    transform: translateZ(-10px) scale(2);
    width: 150%;
    top: 0;
    position: absolute;
  }
  
}

@media screen and (max-width: 1250px) {

  .midground {
    top: 80%;
  }

}

@media screen and (max-width: 950px) {

  .midground {
    transform: translateZ(-5px) scale(1.5);
    top: 90%;
  }

}
